.ProductosTexto{
    text-align: center;
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   /* offset-x | offset-y | blur-radius | color */
    text-shadow: -10px 10px 2px darkgray;
}

.colormy4{
    color: orangered;
}

.MPProductosTxt{
    text-align: center;
    color: orange;
   
    font-family: 'Times New Roman', Times, serif;
}