.CasaMonteroDivImagen {
    text-align: left;
  }

.ImagenMontero{
    width: 70px; /*Horizontal*/
    height: 70px; /*Vertical*/
    margin-left: 20px;
    border-radius: 10px;
  }

  .NVPBoton1{
    margin-left: 5px;
  }

  .NVPBoton2{
    margin-left: 20px;
  }
