.ImagenMontero{
    width: 70px; /*Horizontal*/
    height: 70px; /*Vertical*/
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px orangered;
}
.InicioNavBar{
   margin-left: 20px;
   margin-right: 25px;   
}

.BotonIniciarSesion{
  
    margin-left: 900px;
    margin-right: 50px;
   
}