.PDTittle{
    color: orangered;
    text-align: center;
}

.PDCard{
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.PDImagen{
    text-align: center;
}

.PDTexts{
    text-align: center;
}